footer {
	background-color: rgba(0,0,0,0.9);
	margin-top: 20px;
	font-size: 1rem;
	color: white;
}
footer .fa {
	color: white;
	font-size: 2rem;
	margin-right: 10px;
}
.form-group input {
	margin-bottom: 10px;
	width: 100%;
}
.form-group button {
	width: 100%;
}
.first-links a {
	font-size: 1rem;
}
.second-links a {
	font-size: 1rem;
}