footer {
	margin-top: 20px;
	font-size: 1rem;
	color: white;
}
footer .fa {
	color: white;
	font-size: 2rem;
	margin-right: 10px;
}
.form-group input {
	margin-bottom: 10px;
	width: 100%;
}
.form-group button {
	width: 100%;
}
.first-links {
	font-size: 1.5rem;
}
.second-links {
	font-size: 1.5rem;
}